@charset "UTF-8";
.d-block {
  display: block !important; }

.d-none {
  display: none !important; }

@media (min-width: 992px) {
  .d-lg-none {
    display: none !important; } }

@media (min-width: 992px) {
  .d-lg-block {
    display: block !important; } }

.d-flex {
  display: flex; }

.d-inline-block {
  display: inline-block; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

@media (min-width: 992px) {
  .order-lg-1 {
    order: 1 !important; } }

@media (min-width: 992px) {
  .order-lg-2 {
    order: 2; } }

@media (min-width: 992px) {
  .order-lg-3 {
    order: 3; } }

.w-100 {
  width: 100%; }

.h-100 {
  height: 100%; }

.img-fluid {
  max-width: 100%; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-end {
  text-align: end; }

.justify-content-center {
  justify-content: center; }

.justify-content-between {
  justify-content: space-between; }

.justify-content-end {
  justify-content: end; }

.align-items-center {
  align-items: center; }

.m-auto {
  margin: auto; }

.m-0 {
  margin: 0 !important; }

.p-0 {
  padding: 0 !important; }

.mb-0 {
  margin-bottom: 0 !important; }

.mb-1 {
  margin-bottom: 0.25rem !important; }

.mb-2 {
  margin-bottom: 0.5rem !important; }

.mb-3 {
  margin-bottom: 1rem !important; }

.mb-4 {
  margin-bottom: 1.5rem !important; }

.mb-5 {
  margin-bottom: 3rem !important; }

.mt-0 {
  margin-top: 0 !important; }

.mt-1 {
  margin-top: 0.25rem !important; }

.mt-2 {
  margin-top: 0.5rem !important; }

.mt-3 {
  margin-top: 1rem !important; }

.mt-4 {
  margin-top: 1.5rem !important; }

.mt-5 {
  margin-top: 3rem !important; }

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px; } }
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px; } }
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px; } }
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px; } }
@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px; } }
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x)); }

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y); }

.col {
  flex: 1 0 0%; }

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%; }

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%; }

.col-3 {
  flex: 0 0 auto;
  width: 25%; }

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%; }

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%; }

.col-6 {
  flex: 0 0 auto;
  width: 50%; }

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%; }

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%; }

.col-9 {
  flex: 0 0 auto;
  width: 75%; }

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%; }

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%; }

.col-12 {
  flex: 0 0 auto;
  width: 100%; }

@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%; }

  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%; } }
@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%; }

  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-md-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-md-12 {
    flex: 0 0 auto;
    width: 100%; } }
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%; }

  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0 0%; }

  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%; } }
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0 0%; }

  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%; }

  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%; }

  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%; }

  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%; }

  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%; }

  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%; }

  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%; }

  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%; }

  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%; }

  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%; }

  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%; }

  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%; } }
.g-0,
.gx-0 {
  --bs-gutter-x: 0; }

.g-0,
.gy-0 {
  --bs-gutter-y: 0; }

header .top_menu {
  border-bottom: 1px solid #e8edf1;
  background-color: #004c2e;
  padding: 5px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    header .top_menu {
      display: none; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    header .top_menu {
      display: none; } }
  @media (max-width: 575px) {
    header .top_menu {
      display: none; } }
  header .top_menu .dn_btn {
    display: inline-block;
    font-size: 13px;
    margin-right: 40px;
    font-weight: normal;
    color: #fff;
    transition: all 300ms linear 0s; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      header .top_menu .dn_btn {
        margin-right: 10px; } }
    header .top_menu .dn_btn:hover {
      color: #fff; }
  header .top_menu .header-social a {
    color: #fff;
    transition: all 300ms linear 0s; }
    header .top_menu .header-social a:hover {
      color: #fff; }
    header .top_menu .header-social a i {
      margin-right: 10px; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        header .top_menu .header-social a i {
          margin-right: 6px; } }
  header .top_menu .contact-menu a {
    display: inline-block !important;
    font-size: 13px; }
header .header-area {
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5; }
  header .header-area.sticky {
    background: #fff; }
    header .header-area.sticky .nav-branding {
      color: #000; }
    header .header-area.sticky .nav-menu .menu li a {
      color: #000; }
    header .header-area.sticky .top_menu {
      display: none; }
  header .header-area .header-main {
    display: flex;
    justify-content: space-between;
    height: 106px;
    align-items: center; }
    header .header-area .header-main .logo {
      padding: 0 15px; }
    header .header-area .header-main .nav-menu {
      padding: 0 15px; }
      header .header-area .header-main .nav-menu .menu .menu-item {
        display: inline-block;
        margin-left: 30px;
        position: relative; }
        header .header-area .header-main .nav-menu .menu .menu-item:first-child {
          margin-left: 0; }
        header .header-area .header-main .nav-menu .menu .menu-item a {
          display: block;
          padding: 12px 0;
          font-size: 16px;
          color: #000000;
          font-weight: 600;
          transition: all 0.3s ease; }
          header .header-area .header-main .nav-menu .menu .menu-item a .plus {
            display: inline-block;
            height: 10px;
            width: 10px;
            position: relative;
            margin-left: 3px;
            pointer-events: none; }
            header .header-area .header-main .nav-menu .menu .menu-item a .plus::before, header .header-area .header-main .nav-menu .menu .menu-item a .plus::after {
              content: "";
              position: absolute;
              box-sizing: border-box;
              left: 50%;
              top: 50%;
              background: #000;
              height: 2px;
              width: 100%;
              transform: translate(-50%, -50%);
              transition: all 0.3s ease; }
            header .header-area .header-main .nav-menu .menu .menu-item a .plus::after {
              transform: translate(-50%, -50%) rotate(-90deg); }
          header .header-area .header-main .nav-menu .menu .menu-item a::after {
            content: "";
            display: block;
            margin: auto;
            height: 3px;
            width: 0;
            position: relative;
            top: 1px;
            background: transparent;
            transition: all 0.3s; }
          header .header-area .header-main .nav-menu .menu .menu-item a:hover {
            color: #004c2e; }
            header .header-area .header-main .nav-menu .menu .menu-item a:hover .plus::before, header .header-area .header-main .nav-menu .menu .menu-item a:hover .plus:after {
              background-color: #004c2e; }
          header .header-area .header-main .nav-menu .menu .menu-item a:hover::after, header .header-area .header-main .nav-menu .menu .menu-item a.active-nav::after {
            width: 100%;
            background: #004c2e; }
        header .header-area .header-main .nav-menu .menu .menu-item .sub-menu {
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          width: 185px;
          position: absolute;
          left: 0;
          top: 100%;
          background-color: #ffffff;
          padding: 10px 0;
          border-top: 3px solid #004c2e;
          transform: translateY(10px);
          transition: all 0.3s ease;
          opacity: 0;
          visibility: hidden; }
          header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item {
            display: block;
            margin: 0 20px; }
            header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item a {
              display: block;
              font-size: 14px;
              font-weight: 600;
              color: #000;
              transition: all 0.4s ease; }
              header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item a:hover {
                color: #004c2e;
                padding-left: 4px; }
              header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item a::after {
                display: none; }
      @media (min-width: 992px) {
        header .header-area .header-main .nav-menu .menu .has-children:hover .sub-menu {
          transform: translateY(0);
          opacity: 1;
          visibility: visible; }
        header .header-area .header-main .nav-menu .menu .has-children:hover a .plus::after {
          transform: translate(-50%, -50%) rotate(0deg); } }
      @media (max-width: 991px) {
        header .header-area .header-main .nav-menu {
          position: fixed;
          right: -280px;
          visibility: hidden;
          width: 280px;
          height: 100%;
          top: 0;
          overflow-y: auto;
          background-color: #222222;
          z-index: 1000;
          padding: 15px 0;
          transition: all 0.5s ease; }
          header .header-area .header-main .nav-menu .menu .menu-item {
            display: block;
            margin: 0; }
            header .header-area .header-main .nav-menu .menu .menu-item a {
              color: #ffffff;
              padding: 12px 15px;
              border-bottom: 1px solid #333333; }
              header .header-area .header-main .nav-menu .menu .menu-item a .plus::before, header .header-area .header-main .nav-menu .menu .menu-item a .plus::after {
                background-color: #ffffff; }
              header .header-area .header-main .nav-menu .menu .menu-item a::after {
                display: none; }
            header .header-area .header-main .nav-menu .menu .menu-item:first-child a {
              border-top: 1px solid #333333; }
            header .header-area .header-main .nav-menu .menu .menu-item .sub-menu {
              width: 100%;
              position: relative;
              opacity: 1;
              visibility: visible;
              border: none;
              background-color: transparent;
              box-shadow: none;
              transform: translateY(0px);
              padding: 0px;
              left: auto;
              top: auto;
              max-height: 0;
              overflow: hidden; }
              header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item {
                margin-left: 0; }
                header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item a {
                  padding: 12px 45px;
                  color: #ffffff;
                  border-bottom: 1px solid #333333; }
                  header .header-area .header-main .nav-menu .menu .menu-item .sub-menu .menu-item a:hover {
                    padding-left: 45px; }
          header .header-area .header-main .nav-menu .menu .has-children a {
            display: flex;
            justify-content: space-between;
            align-items: center; }
          header .header-area .header-main .nav-menu .menu .has-children.active a .plus::after {
            transform: translate(-50%, -50%) rotate(0deg); } }
    header .header-area .header-main .open-nav-menu {
      height: 34px;
      width: 40px;
      margin-right: 15px;
      display: none;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      header .header-area .header-main .open-nav-menu span {
        display: block;
        height: 3px;
        width: 24px;
        background-color: #000000;
        position: relative; }
        header .header-area .header-main .open-nav-menu span::after, header .header-area .header-main .open-nav-menu span::before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #000000;
          box-sizing: border-box; }
        header .header-area .header-main .open-nav-menu span::before {
          top: -7px; }
        header .header-area .header-main .open-nav-menu span::after {
          top: 7px; }
      @media (max-width: 991px) {
        header .header-area .header-main .open-nav-menu {
          display: flex; } }
    header .header-area .header-main .close-nav-menu {
      font-size: 27px;
      background-color: transparent;
      color: #fff;
      margin: 0 0 15px 15px;
      cursor: pointer;
      display: none;
      align-items: center; }
      header .header-area .header-main .close-nav-menu img {
        width: 16px; }
      @media (max-width: 991px) {
        header .header-area .header-main .close-nav-menu {
          display: flex; } }
    header .header-area .header-main .menu-overlay {
      position: fixed;
      z-index: 999;
      background-color: rgba(0, 0, 0, 0.5);
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s ease; }
    @media (max-width: 991px) {
      header .header-area .header-main .menu-overlay.active {
        visibility: visible;
        opacity: 1; }
      header .header-area .header-main .nav-menu.open {
        visibility: visible;
        right: 0px; } }
  header .header-area .contact-btn .btn {
    padding: 18px 30px; }

.padding-banner {
  padding-top: 136px; }
  @media (max-width: 991px) {
    .padding-banner {
      padding-top: 106px; } }

.footer-area {
  background: #00190f;
  padding: 65px 0 0; }
  .footer-area .footer-top {
    border-bottom: 1px solid #ccc; }
    @media (max-width: 991px) {
      .footer-area .footer-top .single-footer-caption {
        margin-bottom: 70px; } }
    .footer-area .footer-top .single-footer-caption .footer-logo {
      position: relative;
      margin-bottom: 20px;
      display: flex;
      justify-content: center; }
      .footer-area .footer-top .single-footer-caption .footer-logo img {
        object-fit: contain;
        filter: brightness(0) invert(1); }
    .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
      line-height: 1.8;
      margin-bottom: 30px;
      color: #fff; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
          padding-right: 0px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
          padding-right: 0px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
          padding-right: 0px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .footer-area .footer-top .single-footer-caption .footer-pera .info1 {
          padding-right: 0px; } }
    .footer-area .footer-top .single-footer-caption .footer-tittle span {
      color: #b6d900;
      font-family: "Montserrat", sans-serif;
      font-size: 18px;
      margin-bottom: 38px;
      font-weight: 500;
      text-transform: uppercase; }
    .footer-area .footer-top .single-footer-caption .footer-tittle ul li {
      color: #fff;
      margin-bottom: 15px;
      text-transform: capitalize; }
      .footer-area .footer-top .single-footer-caption .footer-tittle ul li a {
        color: #868c98;
        font-weight: 300;
        transition: 0.4s ease; }
        .footer-area .footer-top .single-footer-caption .footer-tittle ul li a:hover {
          color: #004c2e;
          padding-left: 5px; }
    .footer-area .footer-top .single-footer-caption .footer-cap {
      margin-bottom: 30px; }
      .footer-area .footer-top .single-footer-caption .footer-cap span {
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        display: block; }
      .footer-area .footer-top .single-footer-caption .footer-cap p {
        color: #fff;
        font-size: 16px; }
      .footer-area .footer-top .single-footer-caption .footer-cap a {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
        display: block;
        transition: 0.4s ease; }
        .footer-area .footer-top .single-footer-caption .footer-cap a:hover {
          color: #b6d900;
          padding-left: 5px; }
      .footer-area .footer-top .single-footer-caption .footer-cap.flex .dn_btn {
        font-size: 15px; }
        .footer-area .footer-top .single-footer-caption .footer-cap.flex .dn_btn i {
          margin-right: 0.5rem;
          font-size: 1.3rem; }
  .footer-area .footer-bottom {
    padding-bottom: 20px;
    padding-top: 30px; }
    .footer-area .footer-bottom img {
      filter: brightness(0) invert(1);
      width: 90px;
      height: 50px;
      object-fit: contain; }
    .footer-area .footer-bottom .footer-copy-right p {
      color: #fff;
      font-weight: 300;
      font-size: 16px;
      line-height: 2;
      margin-bottom: 12px; }

.social_links {
  margin: 25px 0; }
  @media (max-width: 991px) {
    .social_links {
      margin: 30px 0 40px; } }
  .social_links ul li {
    display: inline-block; }
    .social_links ul li a {
      font-size: 18px;
      color: #c3b2f0;
      width: 40px;
      height: 40px;
      display: inline-block;
      text-align: center;
      background: #1b4b43;
      border-radius: 50%;
      line-height: 40px !important;
      margin-right: 7px;
      color: #fff;
      line-height: 41px !important;
      transition: 0.4s ease; }
      .social_links ul li a:hover {
        background: #004c2e; }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mob-center {
    text-align: center; } }
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .mob-center {
    text-align: center; } }
@media (max-width: 575px) {
  .mob-center {
    text-align: center; } }

.banner-area {
  position: relative;
  z-index: 1; }
  .banner-area .content {
    position: absolute;
    z-index: 5 !important;
    top: 0;
    padding-left: 10vw;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .banner-area .content h1,
    .banner-area .content span {
      color: #fff;
      font-size: 4em;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 75px;
      margin-bottom: 40px;
      text-align: initial; }
      .banner-area .content h1 b,
      .banner-area .content span b {
        font-size: 3.3rem;
        font-weight: 600; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .banner-area .content h1,
        .banner-area .content span {
          font-size: 3.5em;
          line-height: 60px; }
          .banner-area .content h1 b,
          .banner-area .content span b {
            font-size: 3.1rem; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .banner-area .content h1,
        .banner-area .content span {
          font-size: 3em;
          line-height: 60px; }
          .banner-area .content h1 b,
          .banner-area .content span b {
            font-size: 2.6rem; } }
      @media (max-width: 575px) {
        .banner-area .content h1,
        .banner-area .content span {
          font-size: 1.5rem;
          margin-bottom: 15px;
          line-height: initial; }
          .banner-area .content h1 b,
          .banner-area .content span b {
            font-size: 2.4rem; } }
    .banner-area .content p {
      margin-bottom: 65px;
      color: #fff;
      font-size: 17px;
      width: 70%;
      text-align: justify; }
      @media (max-width: 575px) {
        .banner-area .content p {
          margin-bottom: 35px;
          width: 100%;
          text-align: initial; } }
    .banner-area .content a {
      background: #fff;
      padding: 15px 35px;
      color: #004c2e;
      font-size: 1em;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      letter-spacing: 0.1rem;
      border-radius: 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: 0.4s ease;
      width: 200px; }
      .banner-area .content a:hover {
        background: #004c2e;
        color: #fff; }
  .banner-area .img-slide {
    width: 100%;
    object-fit: cover;
    position: relative;
    clip-path: circle(0% at 0 50%);
    height: 700px !important; }
    @media (max-width: 575px) {
      .banner-area .img-slide {
        height: 650px !important; } }
  .banner-area .banner-img {
    position: relative; }
    .banner-area .banner-img::before {
      content: "";
      background: linear-gradient(100deg, black 0%, rgba(0, 0, 0, 0.3) 70%);
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0.7;
      z-index: 1; }
      @media (max-width: 575px) {
        .banner-area .banner-img::before {
          background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.5) 70%); } }
  .banner-area .banner-img.tns-item.tns-slide-active .img-slide {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path; }
  .banner-area .media-icons {
    z-index: 4;
    position: absolute;
    top: 40%;
    right: 15px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease; }
    .banner-area .media-icons a {
      color: #fff;
      font-size: 1.6em;
      transition: 0.3s ease; }
      .banner-area .media-icons a:not(:last-child) {
        margin-bottom: 20px; }
      .banner-area .media-icons a:hover {
        transform: scale(1.3);
        color: #b6d900; }
  .banner-area [data-carouzel] [data-carouzel-navigationwrapper],
  .banner-area [data-carouzel] [data-carouzel-pageinfo] {
    margin: 1em 0;
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    width: 100%; }
  .banner-area [data-carouzel] [data-carouzel-dot] > button {
    background-color: #fff;
    border-radius: 100%;
    border: none;
    color: #212529;
    display: block;
    height: 12px;
    line-height: 31px;
    margin: 0 7px;
    padding: 0;
    transition: 0.5s ease;
    width: 12px; }
    .banner-area [data-carouzel] [data-carouzel-dot] > button:hover {
      transform: scale(1.2);
      box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
      background-color: #fff; }
  .banner-area [data-carouzel] [data-carouzel-dot].__carouzel-active > button {
    background-color: #004c2e; }
  .banner-area [data-carouzel] .__carouzel-active .img-slide {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path; }
  .banner-area .__carouzel-pageindex {
    display: none !important; }

section .animate,
.animate2 {
  transition: 1s;
  opacity: 0; }
  @media (max-width: 767px) {
    section .animate,
    .animate2 {
      transform: translateX(0) !important;
      transform: scale(1) !important;
      opacity: 1 !important; } }

section.show-animate .animate {
  transition: 1s;
  opacity: 1; }

.about-area {
  padding: 65px 0; }
  @media (max-width: 991px) {
    .about-area {
      padding: 45px 0 65px; } }
  .about-area .animate {
    transform: translateX(100%); }
  .about-area .style-img {
    position: relative;
    width: 85%;
    margin: 0 auto;
    padding: 8px;
    z-index: 1; }
    .about-area .style-img img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: center;
      background-color: #eee;
      border-radius: 10px;
      box-shadow: 0px 0px 20px 8px black; }
      @media (max-width: 575px) {
        .about-area .style-img img {
          max-height: 250px; } }
    .about-area .style-img::before {
      content: "";
      position: absolute;
      display: block;
      z-index: -1;
      right: -17px;
      bottom: -25px;
      width: 50%;
      height: 60%;
      border-radius: 10px;
      background-color: transparent;
      background: radial-gradient(circle, #b6d900 10%, transparent 0%);
      background-size: 1em 1em;
      opacity: 1; }
    .about-area .style-img::after {
      content: "";
      position: absolute;
      display: block;
      height: 75%;
      width: 75%;
      border-radius: 0%;
      left: -30px;
      top: -20px;
      z-index: -2;
      border-radius: 8px;
      opacity: 0.7;
      border: 3px solid #004c2e; }
  .about-area .ajust-style-int::before {
    content: "";
    left: -29px;
    bottom: -16px;
    right: 0; }
  .about-area .ajust-style-int::after {
    content: "";
    left: 160px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area .ajust-style-int::after {
        left: 135px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .about-area .ajust-style-int::after {
        left: 145px; } }
    @media (max-width: 575px) {
      .about-area .ajust-style-int::after {
        left: 28%; } }
  .about-area .section-title span strong {
    font-size: 1rem;
    color: #b6d900; }
  .about-area .service-wrapper {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    min-height: 280px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 8px;
    position: relative; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .about-area .service-wrapper {
        min-height: 350px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .about-area .service-wrapper {
        min-height: 345px; } }
    .about-area .service-wrapper h3 {
      font-size: 20px; }
    .about-area .service-wrapper p {
      font-size: 15px; }
    .about-area .service-wrapper .icon {
      width: 60px;
      height: 60px;
      line-height: 45px;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      color: #1b4b43;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      border-radius: 8px; }
      .about-area .service-wrapper .icon .uim-svg {
        display: inline-block;
        height: 1.2em;
        vertical-align: -0.4em;
        font-size: 34px; }
        .about-area .service-wrapper .icon .uim-svg img {
          width: 40px; }
    .about-area .service-wrapper .big-icon {
      position: absolute;
      right: 0;
      bottom: 0;
      opacity: 0.05;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      .about-area .service-wrapper .big-icon .uim-svg {
        font-size: 34px;
        transition: all 0.5s ease; }
    .about-area .service-wrapper:hover {
      -webkit-box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
      box-shadow: 0 10px 25px rgba(47, 60, 78, 0.15) !important;
      background: #ffffff;
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
      border-color: transparent !important; }
      .about-area .service-wrapper:hover .hover-img {
        width: 95px; }
      .about-area .service-wrapper:hover .big-icon {
        z-index: -1;
        opacity: 0.1;
        margin-bottom: -10px; }
        .about-area .service-wrapper:hover .big-icon .uim-svg {
          font-size: 160px; }
      .about-area .service-wrapper:hover .icon {
        background: #004c2e !important;
        color: #ffffff !important; }
  .about-area .service-wrapper .content .title {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-weight: 500; }

.about-area.show-animate .animate {
  transform: translateX(0); }

.product-area {
  padding: 65px 0;
  background: #f8f8f8; }
  .product-area .animate {
    transform: translateX(-100%); }
  .product-area .padding-content {
    padding: 0 7vw; }
    @media (min-width: 992px) {
      .product-area .padding-content {
        padding: 0;
        padding-left: 3rem; } }
  .product-area .card-product {
    background: #fff;
    border-radius: 8px;
    transition: 0.3s all ease-in-out;
    position: relative;
    top: 0;
    z-index: 1;
    margin: 0 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; }
    .product-area .card-product h2,
    .product-area .card-product h3 {
      background-color: #b6d900;
      border-radius: 15px 15px;
      color: #fff;
      font-size: 12px;
      line-height: 1.5em;
      padding: 6px 15px;
      text-align: center;
      text-transform: uppercase;
      margin: 20px 0 10px; }
    .product-area .card-product p {
      color: #000;
      text-align: center;
      font-size: 14px;
      padding: 0 15px; }
      .product-area .card-product p span {
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #1b4b43;
        border: 1px solid #1b4b43;
        padding: 8px;
        border-radius: 8px;
        width: 80%;
        display: inline-block;
        transition: 0.4s ease; }
    .product-area .card-product img {
      height: 250px;
      width: 100%;
      object-fit: cover;
      border-radius: 8px 8px 0 0;
      border-bottom: 3px solid #1b4b43; }
    .product-area .card-product:hover p span {
      color: #fff;
      border: 1px solid #1b4b43;
      background-color: #1b4b43;
      box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1); }
  .product-area .form-group .btn-prod button {
    width: 80%;
    margin-left: 0; }
  .product-area .img-prod-int {
    border-radius: 8px;
    width: 518px; }
  .product-area .wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative; }
    .product-area .wrapper i {
      top: 50%;
      height: 50px;
      width: 50px;
      cursor: pointer;
      font-size: 1.25rem;
      position: absolute;
      text-align: center;
      line-height: 50px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
      transform: translateY(-50%);
      transition: transform 0.1s linear;
      z-index: 3; }
      .product-area .wrapper i:first-child {
        left: 0px; }
      .product-area .wrapper i:last-child {
        right: 0px; }
    .product-area .wrapper i:active {
      transform: translateY(-50%) scale(0.85); }
    .product-area .wrapper .carousel {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% / 2) - 12px);
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 16px;
      border-radius: 8px;
      scroll-behavior: smooth;
      scrollbar-width: none; }
      .product-area .wrapper .carousel .carousel-item {
        scroll-snap-align: start;
        list-style: none;
        cursor: pointer;
        flex-direction: column;
        padding: 5px 0; }
    .product-area .wrapper .carousel::-webkit-scrollbar {
      display: none; }
    .product-area .wrapper .carousel.no-transition {
      scroll-behavior: auto; }
    .product-area .wrapper .carousel.dragging {
      scroll-snap-type: none;
      scroll-behavior: auto; }
    .product-area .wrapper .carousel.dragging .card {
      cursor: grab;
      user-select: none; }
    .product-area .wrapper .carousel :where(.card, .img) {
      display: flex;
      justify-content: center;
      align-items: center; }
  @media screen and (max-width: 991px) {
    .product-area .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px); } }
  @media screen and (max-width: 767px) {
    .product-area .wrapper .carousel {
      grid-auto-columns: 100%; } }

.product-area.show-animate .animate {
  transform: translateX(0); }

.blog-area {
  padding: 65px 0; }
  .blog-area .section-title .animate {
    transform: scale(0.1); }
  .blog-area .home-blog-single.animate2 {
    transition: 1s;
    transform: translateX(300px);
    transition-delay: calc(0.2s * var(--i));
    opacity: 0; }
  .blog-area .home-blog-single {
    transition: 0.4s ease; }
    .blog-area .home-blog-single .blog-img-cap .blog-img {
      overflow: hidden;
      position: relative;
      height: 190px;
      object-fit: cover;
      border-radius: 8px 8px 0 0; }
      .blog-area .home-blog-single .blog-img-cap .blog-img img {
        width: 100%;
        max-width: 100%;
        height: 344px;
        object-fit: cover;
        transform: scale(1);
        transition: all 0.5s ease-out 0s;
        border-radius: 8px 8px 0 0; }
    .blog-area .home-blog-single .blog-img-cap ul {
      background: #f3f3f3; }
      .blog-area .home-blog-single .blog-img-cap ul li {
        background: #b6d900;
        display: inline-block;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        color: #787878;
        padding: 20px 30px 20px 120px;
        margin-right: 50px;
        font-weight: 500;
        color: #fff; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .blog-area .home-blog-single .blog-img-cap ul li {
            padding: 20px 30px 20px 60px; } }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .blog-area .home-blog-single .blog-img-cap ul li {
            padding-top: 20px;
            padding-left: 20px; } }
        @media (max-width: 575px) {
          .blog-area .home-blog-single .blog-img-cap ul li {
            padding-top: 20px;
            padding-left: 20px; } }
    .blog-area .home-blog-single .blog-img-cap .blog-cap {
      background: #f3f3f3;
      padding: 20px 20px 20px 30px;
      min-height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: 0 0 8px 8px; }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .blog-area .home-blog-single .blog-img-cap .blog-cap {
          min-height: 0px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .blog-area .home-blog-single .blog-img-cap .blog-cap {
          min-height: 0px; } }
      @media (max-width: 575px) {
        .blog-area .home-blog-single .blog-img-cap .blog-cap {
          min-height: 0px; } }
      .blog-area .home-blog-single .blog-img-cap .blog-cap h3 {
        color: #191d34;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 20px;
        display: block; }
        @media only screen and (min-width: 768px) and (max-width: 991px) {
          .blog-area .home-blog-single .blog-img-cap .blog-cap h3 {
            font-size: 19px; } }
        @media only screen and (min-width: 576px) and (max-width: 767px) {
          .blog-area .home-blog-single .blog-img-cap .blog-cap h3 {
            font-size: 19px; } }
        @media (max-width: 575px) {
          .blog-area .home-blog-single .blog-img-cap .blog-cap h3 {
            font-size: 19px; } }
      .blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn {
        position: relative;
        padding-left: 50px; }
        .blog-area .home-blog-single .blog-img-cap .blog-cap .more-btn::before {
          position: absolute;
          content: "";
          width: 35px;
          height: 2px;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
          background: #000000; }
    .blog-area .home-blog-single:hover {
      box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05); }
      .blog-area .home-blog-single:hover .blog-img img {
        transform: scale(1.1); }

.blog-area.show-animate .section-title .animate {
  transform: scale(1); }
.blog-area.show-animate .home-blog-single.animate2 {
  transform: translateX(0);
  opacity: 1; }

.brands-area {
  background: #b6d900;
  padding: 20px 0; }
  .brands-area img {
    filter: brightness(0) invert(1);
    height: 61px !important;
    object-fit: contain !important; }

.map-site ul li {
  margin-bottom: 10px; }
  .map-site ul li i {
    color: #1b4b43; }
  .map-site ul li a {
    color: #000;
    text-transform: uppercase;
    font-size: 0.9em; }
    .map-site ul li a:hover {
      color: #004c2e;
      padding-left: 5px; }

.contact-section {
  padding: 65px 0 0; }
  .contact-section .info-container {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    position: relative;
    padding: 20px;
    border-radius: 8px; }
    .contact-section .info-container .contact-info {
      display: flex; }
      .contact-section .info-container .contact-info:not(:last-child) {
        margin-bottom: 35px; }
      .contact-section .info-container .contact-info h3 {
        font-size: 1.1em;
        font-weight: 500;
        color: #000;
        margin-bottom: 5px; }
        .contact-section .info-container .contact-info h3 a:hover {
          color: #004c2e; }
      .contact-section .info-container .contact-info p {
        color: #383838;
        margin-bottom: 0; }
      .contact-section .info-container .contact-info .icon {
        color: #1b4b43;
        margin-right: 10px;
        font-size: 1.6em;
        min-width: 35px; }
    .contact-section .info-container::after {
      content: "";
      position: absolute;
      display: block;
      height: 115%;
      width: 85%;
      border-radius: 0%;
      left: -30px;
      top: -20px;
      z-index: -2;
      border-radius: 8px;
      opacity: 0.8;
      border: 3px solid color-mix(in srgb, #b6d900, #fff 40%);
      background: #b6d900; }
  @media (max-width: 576px) {
    .contact-section .btn-contact {
      display: flex;
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 576px) {
    .contact-section .btn-contact .btn {
      margin-left: 0;
      width: 80%; } }

/* animaçãozinha */
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
/*=============*/
.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 75px;
  right: 15px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  animation: sweep 1.5s ease-in-out; }

.whatsapp-icon {
  margin-top: 13px; }

/* ================== */
.slider-height {
  height: 350px;
  background-size: cover; }

.hero-overly {
  position: relative;
  z-index: 1; }
  .hero-overly::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat; }

.slider-area {
  background-image: url(../img/banners/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
  .slider-area .hero-cap h1 {
    color: #b6d900;
    font-size: 45px;
    font-weight: 700;
    line-height: 1; }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .slider-area .hero-cap h1 {
        font-size: 40px; } }
    @media (max-width: 575px) {
      .slider-area .hero-cap h1 {
        font-size: 35px; } }

.ajust-padding {
  padding-top: 145px; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .ajust-padding {
      padding-top: 115px; } }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .ajust-padding {
      padding-top: 115px; } }
  @media (max-width: 575px) {
    .ajust-padding {
      padding-top: 115px; } }

.ajust-link {
  color: #b6d900;
  font-weight: 500; }
  .ajust-link:hover {
    color: #004c2e; }

.color-w {
  color: #004c2e;
  margin: 0; }

.home-form {
  border-top: 3px solid #1070c91c;
  padding: 65px 0; }
  .home-form form,
  .home-form input,
  .home-form label,
  .home-form p,
  .home-form textarea {
    color: #000 !important; }
  .home-form .shadow-contact {
    text-align: center; }
    .home-form .shadow-contact h2 {
      color: #1b4b43;
      font-weight: 600;
      margin-top: -45px;
      font-size: 2em; }
    .home-form .shadow-contact span {
      font-size: 60px;
      font-weight: 800;
      color: #b6d900;
      opacity: 0.09; }
  .home-form .contact-card .icon-contact {
    background: color-mix(in srgb, #1b4b43, #fff 80%);
    padding: 10px;
    width: 50px;
    height: 45px;
    text-align: center;
    float: left;
    margin-right: 20px;
    border-radius: 50%; }
    .home-form .contact-card .icon-contact i {
      font-size: 25px;
      color: #1b4b43; }
  .home-form .contact-card .content p {
    font-size: 16px;
    font-weight: 600;
    height: 45px;
    display: flex;
    align-items: center; }
    .home-form .contact-card .content p a {
      color: #000; }
      .home-form .contact-card .content p a:hover {
        color: #004c2e; }

.form-contact label {
  font-size: 14px; }
.form-contact .form-group {
  margin-bottom: 30px; }
.form-contact .form-control {
  border: 1px solid #e5e6e9;
  border-radius: 0px;
  height: 48px;
  padding-left: 18px;
  font-size: 13px;
  background: transparent;
  width: 100%; }
  .form-contact .form-control:focus {
    outline: 0;
    box-shadow: none; }
  .form-contact .form-control::placeholder {
    font-weight: 300;
    color: #999999; }
.form-contact textarea {
  border-radius: 0px;
  height: 100% !important;
  padding-top: 20px; }
.form-contact button {
  border: none; }

#form-prod-int {
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px; }

.h3-form {
  font-size: 20px;
  color: #004c2e; }
  .h3-form i {
    color: #004c2e;
    font-size: 18px;
    position: relative;
    top: 5px; }

.cta-area {
  background-image: url(../img/banners/cta-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  box-shadow: inset 0 0 0 1000px #151616;
  padding: 100px 0; }
  .cta-area .cta-caption h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.5;
    margin: 0; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .cta-area .cta-caption h2 {
        font-size: 50px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .cta-area .cta-caption h2 {
        font-size: 45px; } }
    @media (max-width: 575px) {
      .cta-area .cta-caption h2 {
        font-size: 40px;
        margin-bottom: 20px; } }
  .cta-area .cta-caption p {
    color: #fff;
    font-size: 18px; }
  .cta-area .btn i {
    font-size: 3em; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif; }

li {
  list-style: none; }

a {
  color: #000;
  text-decoration: none;
  transition: 0.4s ease; }

p {
  color: #171717;
  margin-bottom: 15px;
  font-size: 1em;
  line-height: 22px; }

img {
  width: 100%;
  height: auto; }

section {
  overflow-x: hidden; }

.videoBtn {
  background-color: #d97706;
  width: 5rem;
  height: 5rem;
  transition: transform 0.3s;
  border: 0; }
  .videoBtn svg {
    fill: #fff;
    stroke: #fff; }

.bg-theme {
  background: #004c2e; }

.section-padding,
.depoiments,
.services-area,
.different-area {
  padding: 6rem 0; }

.position-relative {
  position: relative; }

.justify-content-center {
  justify-content: center !important; }

.w-auto {
  width: auto !important; }

.flex {
  display: flex; }

.gap-05rem {
  gap: 0.5rem; }

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important; }

.btn {
  background: #004c2e;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 13px 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.4s linear;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none; }
  .btn::after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #004c2e;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease; }
  .btn:hover {
    color: #fff !important; }
  .btn:hover:after {
    left: 0;
    width: 100%; }
  .btn:active {
    top: 2px; }

.btnSecondary {
  background-color: #d97706;
  font-weight: bold; }
  .btnSecondary:hover :after {
    background-color: #1b4b43; }

.btn-arrow {
  position: relative;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 800;
  transition: 0.3s all ease;
  color: #b6d900;
  display: inline-block; }
  .btn-arrow:after {
    transition: 0.3s all ease;
    position: absolute;
    content: "\279C";
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    visibility: hidden; }
  .btn-arrow:hover {
    padding-right: 30px;
    color: #1b4b43; }
    .btn-arrow:hover:after {
      opacity: 1;
      visibility: visible; }

.whats-form {
  background: #22ba59;
  margin-left: 20px; }
  .whats-form::after {
    background-color: #01a43d; }

.go-top-btn {
  background: #b6d900;
  height: 55px;
  width: 55px;
  right: 15px;
  bottom: 10px;
  position: fixed;
  z-index: 10;
  font-size: 20px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  box-shadow: 0 0 10px 3px rgba(108, 98, 98, 0.2);
  color: #1f1f1f;
  text-decoration: none;
  transition: all 0.4s;
  display: none;
  cursor: pointer; }
  .go-top-btn i {
    display: block;
    line-height: 52px;
    color: #fff; }

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #004c2e #ffffff; }

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px; }

*::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px; }

*::-webkit-scrollbar-thumb {
  background-color: #004c2e;
  border-radius: 10px;
  border: 3px solid #ffffff; }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #1b4b43; }

.title {
  font-size: 3rem;
  font-weight: 700;
  color: #004c2e;
  margin-bottom: 1rem;
  text-align: center; }
  @media (max-width: 768px) {
    .title {
      font-size: 1.5rem; } }

.subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 48rem;
  text-align: center; }

table .bg-color-secondary {
  background-color: #004c2e !important;
  color: #fff; }

.cardProd {
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  transition: box-shadow 0.3s ease; }
  .cardProd .img-wrapper {
    position: relative; }
    .cardProd .img-wrapper img {
      aspect-ratio: 16/9; }
  .cardProd .category {
    background: #004c2e;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    position: absolute;
    top: 1rem;
    left: 1rem; }
  .cardProd .content {
    padding: 1rem; }
    .cardProd .content ul {
      margin-bottom: 1rem; }
      .cardProd .content ul li {
        font-size: 0.875rem;
        line-height: 1.25rem; }
    .cardProd .content .badge {
      color: #374151;
      font-size: 0.75rem;
      line-height: 1rem;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-right: 10px;
      background-color: #f3f4f6; }
  .cardProd .title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: left; }
  .cardProd .subtitle {
    font-size: 1rem;
    display: block;
    margin-bottom: 8px;
    text-align: left; }
  .cardProd .description {
    font-size: 1rem;
    line-height: 1.5;
    color: #4b5563;
    margin-bottom: 20px; }
  .cardProd .btn {
    margin-top: 10px;
    padding: 0.5rem 1rem !important;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    background: #004c2e;
    color: #fff; }
    @media (max-width: 768px) {
      .cardProd .btn {
        width: 100% !important; } }
  .cardProd .bntSecondary {
    color: #d97706;
    background: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 4px solid #fbbf24;
    border-radius: 0.5rem;
    box-shadow: none; }
    .cardProd .bntSecondary::after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background-color: #fbbf24;
      border-radius: 5px;
      transition: all 0.3s ease; }
    .cardProd .bntSecondary:hover {
      color: #000; }
    .cardProd .bntSecondary:hover:after {
      left: 0;
      width: 100%; }
    .cardProd .bntSecondary:active {
      top: 2px; }
  .cardProd:hover {
    -webkit-box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0);
    box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0); }
    .cardProd:hover .img-wrapper img {
      transition: transform 0.3s ease;
      transform: scale(1.05); }

.services-area {
  background: #1b4b43; }
  .services-area .badged {
    background: #b6d900;
    display: flex;
    padding: 0.5rem;
    border-radius: 0.5rem; }
    .services-area .badged svg {
      stroke: #fff;
      stroke-width: 1.5; }
  .services-area .title {
    color: #fff;
    text-align: left; }
  .services-area .subtitle {
    color: #fff;
    text-align: left;
    margin-bottom: 1rem;
    align-items: center;
    font-weight: bold; }
  .services-area .content {
    color: #fff;
    text-align: left;
    line-height: 30px;
    font-size: 1.125rem; }
  .services-area .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .services-area .img-wrapper img {
      border-radius: 0.5rem;
      -webkit-box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0);
      box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0); }
  .services-area svg {
    width: 30px;
    height: 30px;
    stroke: #b6d900;
    stroke-width: 1.5; }
  .services-area .btn {
    background-color: #b6d900;
    color: #000; }
  .services-area .badgedIso {
    position: absolute;
    bottom: -1rem;
    left: 2rem;
    background: #d97706;
    color: #fff;
    border-radius: 8rem;
    padding: 0.5rem 1rem;
    -webkit-box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0);
    box-shadow: -10px 0px 13px -7px #00000020, 10px 0px 13px -7px #00000020, 5px 5px 7px 5px rgba(255, 255, 255, 0); }
    .services-area .badgedIso svg {
      stroke: #fff;
      stroke-width: 1.5; }

.different-area {
  padding-bottom: 0; }
  .different-area .card {
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 3rem; }
    .different-area .card .icon {
      background: #b6d900;
      border-radius: 10000px;
      padding: 1rem 1.2rem;
      border-radius: 10000px; }
      .different-area .card .icon svg {
        stroke: #fff;
        stroke-width: 1.5;
        width: 40px;
        height: 40px; }
    .different-area .card .title {
      font-size: 1.5rem; }
    .different-area .card .subtitle {
      font-size: 1rem;
      color: #6b7280;
      margin-bottom: 1rem; }
  .different-area .data {
    justify-content: space-between;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem; }
    .different-area .data .dataItem .number {
      font-size: 2rem;
      font-weight: 700;
      color: #b6d900; }
    .different-area .data .dataItem .text {
      font-size: 1rem;
      color: #6b7280; }

.cta .title {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center; }
.cta .subtitle {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 48rem;
  text-align: center;
  margin-bottom: 4rem; }
.cta .btn {
  background-color: #d97706;
  color: #fff; }

.depoiments .subtitle {
  text-align: center;
  margin: auto; }
.depoiments .quote svg {
  top: 2rem;
  left: 2rem;
  opacity: 0.2;
  color: #b6d900; }
.depoiments .text-primary {
  color: #b6d900 !important; }

.segments .card {
  transition: transform 0.3s ease; }
  .segments .card .card-body .rounded-circle {
    width: 64px;
    height: 64px; }
  .segments .card:hover {
    transform: translateY(-10px); }
    .segments .card:hover .card-body .rounded-circle {
      background-color: #004c2e !important;
      color: #fff; }

.ctaInt .title {
  color: #fff; }
.ctaInt .btn {
  color: #fff !important;
  justify-content: center; }
  .ctaInt .btn:hover:after {
    background-color: #d97706 !important; }
.ctaInt .bntSecondary {
  background-color: #d97706;
  font-weight: bold; }
  .ctaInt .bntSecondary:hover:after {
    background-color: #b6d900; }

@media (max-width: 768px) {
  .videoTitle {
    display: none; } }

/*# sourceMappingURL=style.css.map */
