.home-form {
	border-top: 3px solid #1070c91c;
	padding: 65px 0;

	form,
	input,
	label,
	p,
	textarea {
		color: #000 !important;
	}

	.shadow-contact {
		text-align: center;

		h2 {
			color: $theme-color2;
			font-weight: 600;
			margin-top: -45px;
			font-size: 2em;
		}

		span {
			font-size: 60px;
			font-weight: 800;
			color: $theme-color3;
			opacity: 0.09;
		}
	}

	.contact-card {
		.icon-contact {
			background: color-mix(in srgb, $theme-color2, #fff 80%);
			padding: 10px;
			width: 50px;
			height: 45px;
			text-align: center;
			float: left;
			margin-right: 20px;
			border-radius: 50%;

			i {
				font-size: 25px;
				color: $theme-color2;
			}
		}

		.content {
			p {
				font-size: 16px;
				font-weight: 600;
				height: 45px;
				display: flex;
				align-items: center;

				a {
					color: #000;

					&:hover {
						color: $theme-color;
					}
				}
			}
		}
	}
}

.form-contact {
	label {
		font-size: 14px;
	}

	.form-group {
		margin-bottom: 30px;
	}

	.form-control {
		border: 1px solid #e5e6e9;
		border-radius: 0px;
		height: 48px;
		padding-left: 18px;
		font-size: 13px;
		background: transparent;
		width: 100%;

		&:focus {
			outline: 0;
			box-shadow: none;
		}

		&::placeholder {
			font-weight: 300;
			color: #999999;
		}
	}

	textarea {
		border-radius: 0px;
		height: 100% !important;
		padding-top: 20px;
	}

	button {
		border: none;
	}
}

#form-prod-int {
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border-radius: 8px;
}

.h3-form {
	font-size: 20px;
	color: $theme-color;

	i {
		color: $theme-color;
		font-size: 18px;
		position: relative;
		top: 5px;
	}
}
