//🟡 ESTILO DO WHATS FLUTUANTE 🟡

/* animaçãozinha */
@keyframes sweep {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*=============*/

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 75px;
  right: 15px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
  animation: sweep 1.5s ease-in-out;
}

.whatsapp-icon {
  margin-top: 13px;
}

/* ================== */
